# Virtual Environment

venv/

# Environment Variables

.env

# Python Cache

**pycache**/
*.pyc
*.pyo

# Backend Cache

backend/**/**pycache**/

# Frontend

frontend/node_modules/
frontend/dist/

# IDE Settings

.vscode/
.idea/

# OS Files

.DS_Store
Thumbs.db

# Logs

*.log
